<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lab 4: Spring MVC Address Book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Result</h1>

<p th:text="'AddressBook ID: ' + ${addressBook.id}" ></p>
<p th:each="buddy : ${addressBook.buddies}">
    id: <b><span th:text="${buddy.id}"/></b>
    Name: <b><span th:text="${buddy.name}"/></b>
    Phone Number: <b><span th:text="${buddy.phone}"/></b>
</p>
<!--  -->

<h1>Add Buddy</h1>
<form action="#" th:action="@{/addressbook/{bookId}(bookId=${addressBook.id})}" th:object="${buddyInfo}" method="post">
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <p>Phone: <input type="text" th:field="*{phone}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>